[Unit]
Description=Idle Rasperry official LCD Brightness
After=multi-user.target

[Service]
User=pi
Environment=DISPLAY=:0
ExecStart=/usr/bin/piidle
Type=idle

ExecStop=/usr/bin/piidle --reset

[Install]
WantedBy=multi-user.target
